name: Test Grafana Setup

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  grafana-setup:
    name: Test Grafana install
    runs-on: ubuntu-24.04

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Run Grafana via Makefile
        run: |
          # Set default Grafana port and version
          export GRAFANA_PORT=3000
          export GRAFANA_VERSION=latest
          
          # Run the Makefile target
          make install-grafana
          
          # Wait a few seconds for Grafana to start
          sleep 20
          
          # Verify container is running
          docker ps | grep grafana-kpi

          # Verify provisioning files exist
          docker exec grafana-kpi ls -l /etc/grafana/provisioning/dashboards/dashboard.yaml
          docker exec grafana-kpi ls -l /var/lib/grafana/dashboard/sqlite-dashboard.json
          docker exec grafana-kpi ls -l /etc/grafana/provisioning/datasource/sqlite-datasource.yaml

          # Verify datasource is loaded in Grafana via API
          docker exec grafana-kpi curl -s -u admin:admin http://localhost:3000/api/datasources | grep frser-sqlite-datasource || echo "Datasource not found"

          # Verify dashboard is loaded in Grafana via API
          docker exec grafana-kpi curl -s -u admin:admin \
          "http://localhost:3000/api/search?query=Certsuite" | grep "Certsuite KPI per Cluster" || echo "Dashboard not found"
        
      - name: Clean up Grafana container
        run: docker rm -f grafana-kpi || true
